<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <%- include styles.ejs %>
</head>
<body>
    <div class="login-page">
        <div class="heading"></div>
        <div class="form">
            <a class="login" href="/users/login" style="text-decoration: none; color: white"><button>Login</button></a>
            <a href="/users/register" style="text-decoration: none; color: white"><button class="mt-4" >Register</button></a>
        </div>
    </div>
</body>
</html>