<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <%- include styles.ejs %>
  </head>
  <body>
    <div class="login-page">
      <h1 class="display-4" style="text-align: center"><%= title %></h1>
      <div class="heading"></div>
      <div class="form">
        <form class="login-form">
            <input class="username" type="text" placeholder="username"/>
            <input class="password" type="password" placeholder="password"/>
            <button class="submit">Register</button>
            <p class="message">Already registered? <a href="/users/login">Sign In</a></p>
        </form>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>

      $(function() {
        $('.submit').on('click', function(e) {
          let username = $('.username').val();
          let password = $('.password').val();
          e.preventDefault();

          if(username == "" || password == "") {
            $('.heading').html(`<div class="alert alert-danger alert-dismissible fade show">
                                    <strong>Error!</strong> Username or Password can't be empty.
                                </div>`);
          }
          else if(username.length < 3) {
            $('.heading').html(`<div class="alert alert-danger alert-dismissible fade show">
                                    <strong>Error!</strong> Username should be atleast 3 characters long.
                                </div>`);
          }
          else if(password.length < 4) {
            $('.heading').html(`<div class="alert alert-danger alert-dismissible fade show">
                                    <strong>Error!</strong> Password should be atleast 4 characters long.
                                </div>`);
          }
          else {
            $.ajax({
            type: 'post',
            url: '/users/register',
            data: {username: username, password: password},
            success: function(result) {
              console.log(result.msg)
              if(result.msg === 'success') {
                $('.heading').html(`<div class="alert alert-${result.msg} alert-dismissible fade show">
                                        <strong>Success!</strong> ${result.msg1}
                                    </div>`);
              } else if(result.msg === 'danger') {
                $('.heading').html(`<div class="alert alert-${result.msg} alert-dismissible fade show">
                                        <strong>Error!</strong> ${result.msg1}
                                    </div>`);
              }
            },
            error: function(err) {
              console.log('error ajax')
            }
          })
          }       
        })
      })
    </script>
  </body>
</html>